body {
  font: 0.75em Verdana, Geneva, sans-serif;
}

.cookie-banner {
  background: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.cookie-banner .container {
  margin: 0 auto;
  width: 70%;
  color: #d3d3d3;
  padding: 15px;
}

.cookie-banner a {
  color: #708090;
}

.cookie-banner .button {
  background: #ccc;
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  bottom: 1px solid: #aaa;
  border-bottom: 2px solid #aaa;
}
